h3{
    color: red;
    font-size: 2rem;
}

div p{
    /* color: blue; */
    font-size: 3em;

}

.container {
  display: grid;
  grid-template-columns: 200px 1fr; /* Sidebar is 200px, Main takes rest */
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  
  /* The "Map" */
  grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
}

/* Assigning nicknames to items */
header { grid-area: header; background-color: red;}
.nav1    { grid-area: sidebar;background-color: blue; }
main   { grid-area: main; background-color: green; }
footer { grid-area: footer;background-color: yellow; }