body{
height: 100vh;
display: flex;
justify-content: center;
background-color: rgb(237, 226, 226);

}
.ball {
width: 60px;
height: 60px;
background: red;
border-radius: 50%;
position: relative;
animation: bounce 2s infinite;
box-shadow: 0 5px 10px black;
}
@keyframes bounce {
    0%{
        top:0;
    }
    50%{
        top: 600px;
    }
    100%{
        top: 0;
    }
}