
.container{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    padding: 10px;

    /* column-gap: 50px; */
    /* gap: 100px; */


}


.box{
    width: 100px;
    height: 100px;

    background-color: rgb(42, 126, 165);
    margin: 5px;

    color: white;
    text-align: center;

    line-height: 100px;

    border: 2px solid red;
}

.grid-container{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    border: 2px solid black;

}


.item{
    background: steelblue;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 5px;
    border: 1px solid red;

}