
.container{
    border: 2px solid black;
    display: flex;
}


.box{
    width: 100px;
    height: 100px;

    background-color: brown;
    margin: 5px;

    color: white;
    text-align: center;

    line-height: 100px;
}