.container{
    background: black;
    color: white;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    /* position: fixed; Sets the positioning context */
    /* top: 0;          Aligns to the top edge of the viewport */
    /* left: 0;         Aligns to the left edge of the viewport */
    /* z-index: 1000;   Ensures it stays on top of other content */



}

.container2 a{

    column-gap: 20px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    
    
}





@media(max-width=600px){
    .container{
        flex-direction: column;
        align-items: center;
    }
    .container2 a {
        display: block;
        margin: 5px;
    }
}



.box-four{
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
    border: 2px solid black;
    margin: 10px;
}

.static{

    position: static;
    top: 20px;

    /* when we use position relative we can use top right left bottom  */

}

.relative{

    position: relative;
    top: 20px;
}

.box-five{
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
    border: 2px solid black;
    margin: 10px;
}


.divab{
    position: relative;
    
    width: 200px;
    height: 200px;
    
    border: 2px solid black;
    margin: 30px;
    background-color: rebeccapurple;
    
    
}

.box-six{
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: brown;
    text-align: center;
    position:absolute;
    top: 45px;
    right: 10px;
    bottom: 30px;

}
