#three{
    font-size: large;
    color: blueviolet;
    font-variant: small-caps;
    font-weight: 1000;
}
#four{
    
    
}

#five{


    
}
.two{
    color: aquamarine !important;
}

#six{
    background-color: aqua;
text-align: center;
}

.id{
    width: 200px;
    height: 200px;
    background-color: aqua;
}
.id2{
    
}