#three{
    font-size: large;
    color: blueviolet;
    font-variant: small-caps;
    font-weight: 1000;
}
#four{
    
    
}

#five{


    
}
.two{
    color: aquamarine !important;
}

#six{
    background-color: aqua;
text-align: center;
}

.id{
    width: 400px;
    height: 400px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    display: flex;

}
.id2{
    width: 50%;
    height: 50%;
    background-color: red;
}

.aryan{
    font-size: 4rem;
    text-align: center;

}