#three{
    font-size: large;
    color: blueviolet;
    font-variant: small-caps;
    font-weight: 1000;
}
#four{
    
    
}

#five{


    
}
.two{
    color: aquamarine !important;
}

#six{
    background-color: aqua;
text-align: center;
}

.id{
    width: 400px;
    height: 400px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    display: flex;

}
.id2{
    width: 90%;
    height: 90%;
    background-color: red;
    align-items: center;
    display: flex;
    justify-content: center;
}

.aryan{
    font-size: 3rem;
    
    color: green;

}


.same{

    font-size: large;
    height: auto;
    width: 300px;
    background-color: blueviolet;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;

}

.same1{
    font-size: 1rem;
    height: auto;
    width: 400px;
    background-color: brown;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;

}